.layout-div {
    border-radius: 5px;
    border: 2px solid;
    background-color: yellowgreen transparent;
    height: 530px;
    width: 90%;
    margin: 3% auto;
    box-shadow: 0 2px 4px 0 rgba(153, 44, 44, 1);

}

.left-div-image {
    height: 150px;
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;

}
.line-div{
padding-left: 203px;
padding-right: 55px;
border-style: solid;
}
.remove-div
{
 margin-top: 65px;   
}
.main-div {
    display: flex;
    height: 400px;
    width: 95%;
    margin: 2% auto;
    background-color: antiquewhite transparent;
    border-radius: 1%;

}

.right-div h1 {
    padding-top: 30px;

}

.heading {
    color: rgb(66, 66, 156);
    font-size: x-large;
    text-align: center;
    margin-top: 2%;
}
.items-div{
  display: flex;
  justify-content: center; 
justify-content: space-around;
}

.left-div {
    justify-content: space-around;
    border-radius: 5px;
    border: 1px solid;
    background-color: yellowgreen transparent;
    height: 350px;
    width: 70%;
    margin: 2% auto;
    box-shadow: 0 2px 4px 0 rgba(153, 44, 44, 1);
    padding: 10px;
}

.title-div {
    margin-top: 65px;

}

.amount-div {

    margin-top: 65px;
}




.right-div {
    text-align: center;
    background-color: green transparent;
    height: 350px;
    width: 25%;
    margin: 2% auto;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 2px 4px 0 rgba(153, 44, 44, 1);
}

.check-out-btn {
    margin-top: 45%;
    margin-left: auto;
    background-color: yellowgreen;
    color: black;
    text-decoration: none;
    border-radius: 7px;
    height: 50%;
    width: 95%;
}

.check-out-btn:hover {
    background-color: rgb(0, 238, 72);
    color: rgb(255, 4, 4);
    text-decoration: none;
    border-radius: 7px;
    height: 50%;
    width: 95%;


}