/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
  } */
  
  .logo
  {
    margin-left: 80px;
    font-size:x-large;
    text-decoration: none;
    font-size:x-large;

  }
  
  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  
  /* NAVIGATION */
  
  .navbar {
    display: grid;
    box-shadow: 0 2px 4px 0 rgba(153, 44, 44, 1);
    grid-template-columns: 1fr 5fr;
    align-items: center;
    height: 70px;
    overflow: hidden;
    justify-content: space-around;
  
  
  }
  
  .navbar img {
    height: 16px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }
  .nav{
    display: flex;
    justify-content: right;
    text-decoration: none;
    margin-right: 100px;
   
  }
  .nav1 {
    margin: 10px;
    margin-right: 30px;
    text-decoration: none;
    font-size: large;
    color: #000000;
  }
 
  .nav1:hover {
    color: #df136b;
    
  }
  
  .logo:hover {
    color: #0c70d4;
  }
  .sacrh{
    width: 220px;
  }
  .sarchbt{
    background-color: rgb(46, 163, 66);
    color: floralwhite;
    border-radius: 10px;
    height:35px;
    width: 80px;
    margin-left: 20px;

  }
  .sarchbt:hover{
background-color: rgb(44, 88, 138);
color: #000000;

  }
  .cart-icon {
    display: flex;
    text-align: end;
    margin-right: 2rem;
    align-items: center;
    position: relative;
    justify-content: flex-end;
  }
 
  .searchbar{
    margin: right 1px;
  }
  .cart-icon {
    display: flex;
    text-align: end;
    margin-right: 2rem;
    height: 42px ;
    width: 30px;
  }
  
  .cart-icon img {
    width: 50px;
    height: 35px;
    color: #2f80ed;
  }
  
  .cart-icon p {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -0.5rem;
    top: 0.3rem;
    border-radius: 45%;
    background:transparent;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  

  /* MOBILE MENU & ANIMATION */
  
  .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  
  .menu-toggle:hover{
    cursor: pointer;
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* KEYFRAME ANIMATIONS */
  
  @-webkit-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
  @media only screen and (max-width: 720px) { 
    .features {
      flex-direction: column;
      padding: 50px;
    }
    
    /* MOBILE HEADINGS */
    
    h1 {
      font-size: 1.9rem;
    }
    
    h2 {
      font-size: 1rem;
    }
    
    p {
      font-size: 0.8rem;
    }
    
    /* MOBILE NAVIGATION */
       
    .navbar ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 55px;
      background-color: #fff;
      width: 100%;
      height: calc(100vh - 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
    }
    
    .navbar li {
      padding: 15px;
    }
    
    .navbar li:first-child {
      margin-top: 50px;
    }
    
    .navbar li a {
      font-size: 1rem;
    }
     
    .menu-toggle, .bar {
      display: block;
      cursor: pointer;
    }
    
    .mobile-nav {
    transform: translate(0%)!important;
  }
    
    /* SECTIONS */
    
    .headline {
      height: 20vh;
    }
      
    .feature-container p {
      margin-bottom: 25px;
    }
    
    .feature-container {
      margin-top: 20px;
    }
    
    .feature-container:nth-child(2) {
      order: -1;
    }
    
    /* SEARCH DISABLED ON MOBILE */
    
    #search-icon {
      display: none;
    }
    
    .search-input {
    display: none;
   }
    
  }